<div class="container">
   
      <div class="col-sm text-center">
        <h4 class="d-block" style="background-color: #34495E; color:#fff; margin: 15px;">Registrar maquinaria</h4>
      </div>
    
  

    
<!--
    <p>Nombre: {{ querid.nombre }}</p>
    <p>IDEmpleado: {{ querid.id }}</p>-->

<form [formGroup] ="eqForm"  (ngSubmit)="onSubmit(eqForm.value)" >
    <p>                                                 <!--//to avoid formcontrol error-->
        <input type="text" name="nombre" class="form-control" formControlName="nombre"  >
        <strong>Nombre: </strong> 
    </p>
    <p>
        <input type="text" name="puesto" class="form-control" formControlName="puesto"  >
        <strong>Puesto: </strong> 
    </p>
    <p>
        <input type="number"  class="form-control" formControlName="area"  oninput="this.value=(parseInt(this.value)||0)">
        <strong>Area: </strong> 
    </p>
    <p>
        <input type="number" class="form-control" formControlName="positionx"  >
        <strong>Posicion en x: </strong> 
    </p>
    <p>
        <input type="number"  class="form-control" formControlName="positiony"  >
        <strong>Posicion en y: </strong> 
    </p>
    <p>
        <input type="number"  class="form-control" formControlName="ruido"  >
        <strong>Ruido: </strong> 
    </p>
    <p>
        <input type="number"  class="form-control" formControlName="polvo"  >
        <strong>Polvo: </strong> 
    </p>
    <p>
        <input type="number"  class="form-control" formControlName="riskfactor"  >
        <strong>Factor de riesgo: </strong> 
    </p>

    <p>
        <input type="date"  class="form-control" formControlName="lastcheck"  >
        <strong>Último chequeo: </strong> 
    </p>
<button class ="button" type ="submit">Registrar</button>

</form>

<pre style="clear: both;">{{ eqForm.value | json }}</pre> 