<div class="container">
    <div class="form-group row">
      <div class="col-sm text-center">
        <h4 class="d-block" style="background-color: #34495E; color:#fff; margin: 15px;">Registrar turno</h4>
      </div>
    </div>
  

    
<!--
    <p>Nombre: {{ querid.nombre }}</p>
    <p>IDEmpleado: {{ querid.id }}</p>-->
    <div style="padding: 12px;border: 4px solid hsl(0, 0%, 93%);">
<form [formGroup] ="tForm"  (ngSubmit)="onSubmit(tForm.value)"><!--class="row g-3 needs-validation" novalidate>-->
   
   
    <p>                                               
        <input type="number" name="nombre" class="form-control" formControlName="idempleado"  id="idempleado" oninput="if(this.value>0){this.value=(parseInt(this.value)||0)}else{this.value=0}">
        <strong>IDEmpleado: </strong> 
    </p>
   
    <!--
    <p>                                               
        <input type="text" name="nombre" class="form-control" formControlName="nombre"  >
        <strong>Nombre: </strong> 
    </p>-->
    
     
    <p>
         <input  type="date"   value="{{today | date:'yyyy-MM-dd'}}"  formControlName="fecha" >
       <!-- <input type="date"  class="form-control" formControlName="fecha"   value="{{today | date:'yyyy-MM-dd'}}" >  | date:'yyyy-MM-dd'}}">-->
        <strong>Fecha: </strong>  
    </p>


    <p>
        <select   class="form-control" formControlName="horario" oninput="if(this.value>0){this.value=(parseInt(this.value)||0)}else{this.value=0}" >
            <option value="1">1</option>
            <option value="2">2</option>
             <option value="3">3</option>
            </select>
        <strong>Horario: </strong> 
    </p>

    <p>
        <input type="number"  class="form-control" formControlName="puesto" oninput="if(this.value>0){this.value=(parseInt(this.value)||0)}else{this.value=0}" >
        <strong>ID Puesto: </strong> 
    </p>

    <p>
        <input type="number"  class="form-control" formControlName="area" oninput="if(this.value>0){this.value=(parseInt(this.value)||0)}else{this.value=0}" >
        <strong>Area : </strong> 
    </p>

    <p>
        <input type="number"  class="form-control" formControlName="idmaquina" oninput="if(this.value>0){this.value=(parseInt(this.value)||0)}else{this.value=0}" >
        <strong>ID Maquina: </strong> 
    </p>

<!--
    <p>
        <input type="number"  class="form-control" formControlName="area"  oninput="this.value=(parseInt(this.value)||0)">
        <strong>Area: </strong> 
    </p>
    <p>
        <input type="number" class="form-control" formControlName="positionx"  >
        <strong>Posicion en x: </strong> 
    </p>
    <p>
        <input type="number"  class="form-control" formControlName="positiony" >
        <strong>Posicion en y: </strong> 
    </p>-->

   
<button class ="btn btn-success"  [disabled]="tForm.invalid"  type ="submit">Registrar</button>

</form>
    </div>

<!--pre style="clear: both;">{{ tForm.value | json }}</pre> -->