<div class="container">
    <div class="form-group row">
      <div class="col-sm text-center">
        <h4 class="d-block" style="background-color: #34495E; color:#fff; margin: 15px;">Listado de turnos</h4>
      </div>
    </div>
    
    
    <p>Turnos de:</p>
  
  <p>Nombre: {{ querid.nombre }}</p>
  <p>IDEmpleado: {{ querid.id }}</p>
  <input type="text" [(ngModel)]="term" placeholder="Buscar cadena">
  
  <pagination-controls (pageChange)="p = $event"></pagination-controls>


  <br>
  <button type="button" class="btn btn-primary" title="turnonuevo" (click)="nuevoturn()">Registrar turno</button> 
  <br>

  
  <table class="table" *ngIf="eqs">
      <thead>
        <tr>
          <th scope="col">IDempleado</th>
          <th scope="col">Nombre empleado</th>
          <th scope="col">Fecha</th>
          <th scope="col">Turno dia</th>
          <th scope="col">Area</th>
          
          <th scope="col">Puesto</th>
          <th scope="col">ID Maquina</th>
          <th scope="col">Registrar Uso</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ems of eqs | filter : term | paginate: { itemsPerPage: 10, currentPage: p }">
          <th scope="row">{{ ems.idempleado }}</th>
          <td>{{ querid.nombre }}</td>
          <td>{{ ems.fecha }}</td>
          <td>{{ ems.horario }}</td>
          <td>{{ ems.area }}</td>
          <td>{{ ems.puesto }}</td>
          <td>{{ ems.idmaquina }}</td>
          <td> <button type="button" class="btn btn-primary" title="Expediente" (click)="adduso(ems)">Añadir usodetalles</button> </td>
         </tr>
      </tbody>
    </table>